<div class='main-container'>
  <h1>Welcome to ProMapper!</h1>
  <div id='category_selector'>

    <form id="category_form">
      <select name="category" id="event" type="dropdown">
        <option value="event" disabled selected autofocus>CATEGORY</option>
        <option value="accounting+finance" >accounting+finance</option>
        <option value="admin/office" disabled>admin/office</option>
        <option value="arch/engineering" disabled>arch/engineering</option>
        <option value="biotech/science">biotech/science</option>
        <option value="business/mgmt">business/mgmt</option>
        <option value="customer-service">customer-service</option>
        <option value="education">education</option>
        <option value="food/bev/hosp">food/bev/hosp</option>
        <option value="general-labor">general-labor</option>
        <option value="government">government</option>
        <option value="human-resources">human-resources</option>
        <option value="internet-engineers">internet-engineers</option>
        <option value="legal/paralegal">legal/paralegal</option>
        <option value="manufacturing">manufacturing</option>
        <option value="marketing/pr/ad">marketing/pr/ad</option>
        <option value="medical/health">medical/health</option>
        <option value="nonprofit">nonprofit</option>
        <option value="medical/health">medical/health</option>
        <option value="real-estate">real-estate</option>
        <option value="sales/bizdev">sales/bizdev</option>
        <option value="retail/wholesal">retail/wholesale</option>
        <option value="salon/spa/fitness">salon/spa/fitness</option>
        <option value="security">security</option>
        <option value="trade/craft">trade/craft</option>
        <option value="software/qa/dba">software/qa/dba</option>
        <option value="systems/network">systems/network</option>
        <option value="technical-support">technical-support</option>
        <option value="transport">transport</option>
        <option value="tv/film/video">tv/film/video</option>
        <option value="web/info">web/info</option>
        <option value="web/info">web/info-design</option>
        <option value="writing/editing">writing/editing</option>
      </select>
       <input type='submit' id ="submit_button" class='button quiet' value='Search' name='' />
     </form>
    </div>

  <div id="map-canvas"></div>

</div
